# Parsing a TEI Document - Assignment

## Instructions

1. Parse the tei text of Gibbon's _Decline and Fall_ as found in `gibbon.xml`.
2. Extract all the footnotes and remove extraneous white space.
3. Place footnotes in a dataframe.
4. Save the dataframe as a csv file.

## Parsing TEI

In [1]:
# imports
from bs4 import BeautifulSoup
import re
import pandas as pd

In [3]:
# load xml file
with open('../in-class/gibbon.xml', encoding='utf8', mode='r') as f:
    tei_string = f.read()

In [4]:
# use BeatifulSoup to insantiate tei object
tei_object = BeautifulSoup(tei_string)

In [5]:
# find all margin notes
margin_notes = tei_object.find_all('note', attrs={'place':'margin'})

In [6]:
# clean margin notes and add to a list
clean_margin_notes = []
for margin_note in margin_notes:
    margin_note_text = re.sub(r'[\ \n]{2,}', '', margin_note.text)
    clean_margin_notes.append(margin_note_text)

In [7]:
# convert list to dataframe
df = pd.DataFrame(clean_margin_notes)

In [8]:
# check dataframe
df.head()

                                                   0
0  Aureolus invades Italy, is defeated and beſieg...
1                                         A. D. 268.
2           A. D. 268. March 20. Death of Gallienus.
3   Character and elevation of the emperor Claudius.
4                                 Death of Aureolus.

In [9]:
# save dataframe as csv
df.to_csv('margin_notes.csv')